@charset "UTF-8";
@import url(../css/variables.css);

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.print-hide {
  display: show;
}

.print-show {
  display: none;
}

body {
  width: 100%;
}

#wrap {
  width: 100%;
  min-height: 100%;
}

#wrap * {
  box-sizing: border-box;
}

.elem_low_result {
  width: 1003px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 55px;
  background: url(../common/images/elem_low/body_bg.png) no-repeat center center / cover;
}

/* 그래프영역 */
.elem_low_result .section_result_graph {
  display: flex;
}

section.section_result_graph .aat_result_cmp {
  flex-basis: 312px;
  flex-shrink: 0;
  padding: 34px 32px;
  background-color: var(--report_bg);
}

.aat_result_cmp h5.aat_result_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: var(--report_yellow);
  font: var(--content_bold);
  color: var(--report_bg);
}

.aat_result_cmp .result_desc {
  margin-top: 24px;
  text-align: center;
}

.aat_result_cmp .result_desc h2.name {
  font-family: 'yg-jalnan';
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  color: #fff;
}

.aat_result_cmp .result_desc h2.name span {
  font-size: 24px;
  display: inline-block;
  margin-left: 9px;
}

.aat_result_cmp .result_desc p {
  margin-top: 4px;
  display: inline-block;
  padding: 5.5px 17.5px;
  background-color: #361D06CC;
  border-radius: 12px;
  text-align: center;
  font: var(--content_bold);
  color: var(--report_yellow); 
}

.aat_result_cmp .result_summary {
  margin-top: 48px;
  position: relative;
  border-radius: 16px;
  background-color: var(--report_bg_bright);
  z-index: 0;
  padding: 7px;
}

.aat_result_cmp .result_summary:before {
  content: '';
  display: inline-block;
  width: 54px;
  height: 71px;
  position: absolute;
  left: 0;
  top: -40px;
  z-index: -1;
  background: url(../common/images/elem_low/icon_bubble_arrow.png) no-repeat center center / contain;
}

.result-summary__inner {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23333' stroke-width='1' stroke-dasharray='7' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
  padding: 26px 18px;
}

.result_summary .result_content {
  margin-bottom: 17px;
}

.result_summary .result_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result_summary .result_title span.bar {
  display: inline-block;
  width: 32px;
  height: 2px;
  background-color: var(--report_bg);
}

.result_summary .result_title h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--report_bg);
  font-family: 'yg-jalnan';
}

.result_summary .result {
  margin-top: 16px;
}

.result_summary .result_type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result_summary .result_type span {
  display: inline-block;
  font-family: 'yg-jalnan';
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: var(--report_yellow);
  text-align: center;
  color: var(--report_bg_secondary);
}

.result_type_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 16px;
}

.result_type_list .type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.result_type_list .type b {
  display: inline-block;
  width: 46px;
  height: 42px;
  background: url(../common/images/elem_low/result_type_bg.png) no-repeat center center / contain;
  text-align: center;
  line-height: 42px;
  font-family: 'yg-jalnan';
  font-size: 24px;
  font-weight: 700;
  color: var(--report_yellow);
}

.result_type_list .type span {
  font: var(--content_bold);
  color: var(--report_bg);
}

.result_summary .result .graph_result_title:not(:last-child) {
  margin-bottom: 14px;
}

.result_summary .graph_result_title {
  text-align: center;
  margin-top: 13px;
  font: var(--body_bold);
  font-size: 16px;
  color: var(--report_bg);
}

.result_summary .color_prefer {
  margin-top: 24px;
}

.result_summary .color_prefer .prefer {
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

.result_summary .color_prefer .prefer:last-child {
  margin-bottom: 0px;
}

.result_summary .color_prefer .prefer img {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}

.result_summary .color_prefer .prefer span {
  display: inline-block;
  width: 96%;
  height: 28px;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid var(--report_bg);
  font: var(--content_bold);
  color: var(--report_bg);
  text-align: center;
  padding-left: 28px;
  font-size: 16px;
}

.aat_right_graph {
  flex-basis: calc(100% - 312px);
  flex-shrink: 0;
  margin-top: 36px;
  padding: 0 40px;
}

.graph_inner {
  border-radius: 20px;
  border: 2px solid var(--report_bg_secondary);
  background-color: #fff;
  position: relative;
  min-height: 200px;
  padding: 0 40px;
  padding-bottom: 28px;
  margin-bottom: 28px;
}

.graph_inner .graph_title .title {
  width: 120px;
  height: 100px;
  background: url(../common/images/elem_low/graph_tag1.png) no-repeat center center / contain;
  position: absolute;
  top: -12px;
  left: 33px;
}

.graph_inner .graph_title .title.green {
  background: url(../common/images/elem_low/graph_tag2.png) no-repeat center center / contain;
}

.graph_inner .graph_title .title.blue {
  background: url(../common/images/elem_low/graph_tag3.png) no-repeat center center / contain;
}

.graph_inner .graph_title .title h3 {
  display: inline-block;
  width: 90px;
  margin-top: 16px;
  color: #fff;
  font-family: 'yg-jalnan';
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.graph_inner .graph_title .description {
  margin-left: 107px;
  margin-top: 20px;
  padding-left: 50px;
  font: var(--content_bold);
  color: var(--gray01);
  position: relative;
}

.graph_inner .graph_title .description:before {
  content: '';
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../common/images/elem_low/graph_search.png) no-repeat center center / contain;
}

.graph_inner .graph_title .description span.report_red {
  color: var(--report_red);
}

.graph_inner .graph_title .description span.report_green {
  color: var(--report_green);
}

.graph_inner .graph_title .description span.report_blue {
  color: var(--report_blue);
}

.graph_inner .graph_content {
  margin-top: 11px;
}

.graph_inner .graph_content.bdb {
  padding-bottom: 24px;
  position: relative;
}

.graph_inner .graph_content.bdb:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../common/images/elem_low/dashed_line.png) no-repeat;
}

.graph_content .graph_item {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-bottom: 26px;
}

.graph_content:not(:first-child) {
  margin-top: 28px;
}

.graph_content .graph_item:last-child {
  margin-bottom: 0;
}

.graph_content .graph_item .tit {
  font: var(--body_bold);
  color: var(--report_bg);
  position: relative;
  padding-left: 24px;
  flex-basis: 101px;
  flex-shrink: 0;
  text-align: center;
}

.graph_content .graph_item .tit:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--report_red);
  border: 1px solid var(--report_bg);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.graph_content .graph_item .bar-graph {
  display: flex;
  align-items: center;
  gap: 22px;
  flex-basis: calc(100% - 132px);
  flex-shrink: 0;
}

.graph_item .bar-graph .graph {
  display: inline-block;
  width: 100%;
  height: 28px;
  border-radius: 20px;
  border: 2px solid var(--report_bg);
  background-color: #fff;
}

.graph_item .bar-graph .graph.left {
  display: flex;
  justify-content: flex-start;
}

.graph_item .bar-graph .graph.right {
  display: flex;
  justify-content: flex-end;
}

.graph_item .bar-graph .graph .graph-content {
  height: 100%;
  border-radius: 20px;
  background-color: var(--report_red);
  position: relative;
}

.graph_item .bar-graph .graph .graph-content.red {
  background-color: var(--report_red);
}

.graph_item .bar-graph .graph .graph-content.green {
  background-color: var(--report_green_secondary);
}

.graph_item .bar-graph .graph .graph-content.active_green {
  background-color: var(--report_green);
}

.graph_item .bar-graph .graph .graph-content.blue {
  background-color: var(--report_blue_secondary);
}

.graph_item .bar-graph .graph .graph-content.active_blue {
  background-color: var(--report_blue);
}

.graph_item .bar-graph .graph .graph-content:after {
  content: attr(data-score);
  display: inline-block;
  width: 50px;
  height: 44px;
  background: url(../common/images/elem_low/score_dot.png) no-repeat center center / contain;
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: 'yg-jalnan';
  font-size: 22px;
  font-weight: 700;
  color: var(--report_red);
  line-height: 44px;
}

.graph_item .bar-graph .graph .graph-content.red:after {
  color: var(--report_red);
}

.graph_item .bar-graph .graph .graph-content.green:after {
  color: var(--report_green_secondary);
}

.graph_item .bar-graph .graph .graph-content.blue:after {
  color: var(--report_blue_secondary);
}

.graph_item .bar-graph .graph .graph-content.active_green:after {
  color: var(--report_green);
}

.graph_item .bar-graph .graph .graph-content.active_blue:after {
  color: var(--report_blue);
}

.graph_item .bar-graph .graph .graph-content.right:after {
  left: -4px;
}

.graph_item .bar-graph .bar_title {
  font: var(--content_bold);
  color: var(--gray04);
}

.graph_item .bar-graph .bar_title.active {
  color: var(--report_red);
}

/* 시각인지, 정서행동 그래프 */
.graph_type2_box {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.graph_type2_box .graph_active_bar {
  display: inline-block;
  flex-basis: 36px;
  flex-shrink: 0;
  width: 36px;
  height: 158px;
  background: url(../common/images/elem_low/graph_type2_bar.png) no-repeat center center / contain;
  position: relative;
}

.graph_type2_box .graph_active_bar span.dot {
  position: absolute;
  display: inline-block;
  width: 36px;
  height: 12px;
  border-radius: 20px;
  border: 2px solid var(--report_bg_secondary);
  background-color: #fff;
}

.graph_type2_box .graph_active_bar span.dot:nth-child(1) {
  top: 15px;
}

.graph_type2_box .graph_active_bar span.dot:nth-child(2) {
  top: 73px;
}

.graph_type2_box .graph_active_bar span.dot:nth-child(3) {
  top: 128px;
}

.graph_type2_box.green .graph_active_bar span.dot.active{
  background-color: var(--report_green);
}

.graph_type2_box.blue .graph_active_bar span.dot.active {
  background-color: var(--report_blue);
}

.graph_type2_items {
  flex-basis: calc(100% - 36px);
}

.graph_content .graph_item .type2_title {
  flex-basis: 104px;
  flex-shrink: 0;
  text-align: center;
  font: var(--body_bold);
  font-size: 18px;
  color: var(--report_bg);
}

/* #### 프린트 설정 #### */
@media print {
  .elem_low_result {
    background: none;
  }
}