@charset "UTF-8";
/* layout */
html,
body {
  width: 100%;
  height: 100%;
}

body.fixed {
  overflow-y: hidden;
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 186px;
}

#wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 226px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 186px;
  z-index: 101;
  background-color: #fff;
  transition: 0.35s;
}

.header__inner {
  width: 100%;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.header__top {
  width: 100%;
  height: 112px;
  background-color: #fff;
  border-bottom: 2px solid #EEEEEE;
}

.header__top .header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.logo {
  display: inline-block;
  width: 300px;
  height: 64px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__tel {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header__tel span {
  position: relative;
  font-weight: 600;
  line-height: 24px;
  color: #111;
  padding-left: 28px;
}

.header__tel span:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icon/icon_call.svg) no-repeat center center / contain;
}

.header__tel h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.btn_mo_menu {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icon/icon_mo_menu.svg) no-repeat center center / contain;
}

.header__nav {
  width: 100%;
  height: 74px;
  background-color: #FAFAFA;
}

.header__nav ul.nav_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__nav ul.nav_ul li.nav_li_depth1 {
  flex: 1;
  height: 100%;
}

.header__nav ul.nav_ul li.nav_li_depth1>a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #111;
}

.header__nav ul.nav_ul li.nav_li_depth1.active>a {
  color: var(--color-green);
  font-weight: 600;
}

/* Header SubMenu */
.sub-nav__section {
  width: 100%;
  height: 254px;
  position: absolute;
  top: 186px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.25s;
  background-color: #fff;
}

.sub-nav__section.active {
  z-index: 0;
  visibility: visible;
  opacity: 1;
}

.sub-nav__section:before {
  content: '';
  display: inline-block;
  width: calc(((100vw - 1440px) / 2 + 40px));
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-navy);
}

.sub-nav__inner {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

.sub-nav__title {
  width: 303px;
  flex-shrink: 0;
  border-radius: 0 40px 0 0;
  background-color: var(--color-navy);
  padding: 40px;
  padding-left: 0;
}

.sub-nav__title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
}

.sub-nav__title h3 a {
  position: relative;
  padding-right: 28px;
}

.sub-nav__title h3 a:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icon/icon_sub-menu_arrow.svg) no-repeat center center / contain;
}

.sub-nav__title p {
  margin-top: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.sub-nav__contents {
  padding: 40px;
}

ul.sub-nav_ul {
  display: flex;
  align-items: center;
  gap: 80px;
}

ul.sub-nav_ul li.nav_li_depth2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #111;
}

ul.sub-nav_ul li.nav_li_depth2:hover,
ul.sub-nav_ul li.nav_li_depth2.active {
  font-weight: 600;
  color: var(--color-green);
}

.mo_header_sidebar {
  display: none;
}

.sidebar__inner {
  width: calc(100% - 48px);
  height: 100%;
  max-width: 312px;
  position: absolute;
  right: -100%;
  top: 0;
  padding: 20px;
  opacity: 0;
  transition: 0.35s;
  background-color: #fff;
}

.sidebar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 53px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F8F8F8;
}

.sidebar__contents {
  padding-top: 20px;
}

.sidebar__contents .sidebar__list {
  flex-direction: row;
  gap: 22px 8px;
  flex-wrap: wrap;
}

.sidebar__contents .sidebar__list .sidebar__item {
  border-bottom: none;
  width: calc((100% / 3) - 8px);
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.1);
  padding: 8px;
  row-gap: 4px;
  border-radius: 8px;
  overflow: hidden;
}

.sidebar__contents .sidebar__list .sidebar__item:last-child {
  width: 100%;
}

.sidebar__contents .sidebar__list .sidebar__item h3.menu_nm {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}

.sidebar__contents .sidebar__item .icon img {
  width: 16px;
  height: 16px;
}

.sidebar__contents .sidebar__item.item--call {
  flex-direction: row;
  gap: 8px;
}

.sidebar__contents .sidebar__item.item--call span {
  font-size: 14px;
  line-height: 20px;
  padding-left: 28px;
}

.sidebar__contents .sidebar__item.item--call span:before {
  width: 24px;
  height: 24px;
}

/* Footer */
.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -226px;
  height: 226px;
  transform: translateY(-100%);
  background-color: #333333;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
}

.footer__info>h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #999999;
}

.footer__company-info {
  margin: 16px auto;
}

.footer__company-info .company-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 4px;
}

.footer__company-info .company-info:last-child {
  margin-bottom: 0;
}

.company-info li {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  padding-right: 8px;
}

.company-info li:last-child {
  padding-right: 0px;
}

.company-info li span {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.company-info li span:after {
  content: '·';
  margin-left: 4px;
}

.company-info li b {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #999;
}

.company-info li:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #505050;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.company-info li:last-child:after {
  content: none;
}

.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  color: #505050;
}

/* Sidebar */
.sidebar {
  position: absolute;
  right: 24px;
  top: 50dvh;
  transform: translateY(-50%);
  width: 136px;
  border-radius: 8px;
  padding: 8px;
  z-index: 105;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.sidebar_gnb {
  margin-bottom: 20px;
}

.sidebar_gnb--1depth>li>a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
}

.sidebar_gnb--1depth>li>a:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.35s;
  background: url(../img/icon/icon_sidebar_arrow.svg) no-repeat center center / contain;
}

.sidebar_gnb--1depth>li.open>a:after {
  transform: translateY(-50%) rotate(-180deg);
}

.sidebar_gnb--2depth {
  display: none;
  padding: 16px;
  border-radius: 8px;
  background-color: #F5F6F8;
}

.sidebar_gnb--2depth li {
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}

.sidebar_gnb--2depth li.active {
  font-weight: 600;
  color: var(--color-green);
}

.sidebar__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar__list .sidebar__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 18px;
  border-bottom: 2px solid #EEEEEE;
}

.sidebar__list .sidebar__item:last-child {
  border-bottom: none;
}

.sidebar__list .sidebar__item h3.menu_nm {
  font-weight: 500;
  line-height: 24px;
  color: #333;
}

.sidebar__item.item--call span {
  position: relative;
  font-weight: 500;
  line-height: 24px;
  color: #111;
  padding-left: 20px;
}

.sidebar__item.item--call span:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icon/icon_call.svg) no-repeat center center / contain;
}

.sidebar__item.item--call h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

/* PageHeader */
.page__header {
  width: 100%;
  height: 340px;
  position: relative;
}

.page__header .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page__header .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page__header .container {
  height: 100%;
}

.page__contents {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.page__title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 56px;
  margin-bottom: 16px;
}

.page__title p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.page__tabs {
  width: 100%;
  position: sticky;
  top: 186px;
  left: 0;
  z-index: 80;
  background: #F7F7F7;
}

.page__tabs.active_first {
  background: linear-gradient(to right, #151F30, #151F30 50%, #F7F7F7 51%, #F7F7F7);
}

.page__tabs.active_last {
  background: linear-gradient(to right, #F7F7F7, #F7F7F7 50%, #151F30 51%, #151F30);
}

.page__tabs ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.page__tabs ul li {
  flex: 1;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #999999;
  background-color: #F7F7F7;
}

.page__tabs ul li button,
.page__tabs ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page__tabs ul li.active {
  background-color: var(--color-navy);
  color: #fff;
}

/* Common Title */
.common_title h3 {
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #111;
  position: relative;
  z-index: 1;
}

.common_title h3:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgb(0, 79, 26, 0.16);
}

/* 클리닉 설명 영역 */
.clinic__title .common_title {
  margin-bottom: 40px;
}

.clinic__title p {
  font-size: 20px;
  line-height: 28px;
  color: #111;
}

.clinic__method {
  margin-top: 80px;
}

.method_title h4 {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  position: relative;
}

.method_title h4:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #DDDDDD;
}

.method__list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-top: 48px;
}

.method__item {
  width: 100%;
  flex: 1;
}

.method__list.item_2 .method__item {
  max-width: 450px;
}

.method__item .thum {
  width: 100%;
  border-radius: 8px;
  height: auto;
  aspect-ratio: 4 / 2.5;
  overflow: hidden;
}

.method__item .thum img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.method__item .desc {
  margin-top: 16px;
  text-align: center;
}

.method__item .desc h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #111;
  margin-bottom: 8px;
}

.method__item .desc p {
  font-size: 18px;
  line-height: 26px;
  color: #505050;
}

.benefit__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefit__title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #111;
  position: relative;
  z-index: 1;
}

.benefit__title h3:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgb(236, 168, 53, 0.2);
}

.benefit__list {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 80px;
  row-gap: 40px;
}

.benefit__list .benefit__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: url(../img/benefit_bg.png) no-repeat center center / contain;
}

.benefit__list .benefit__item.big {
  background-image: url(../img/benefit_bg2.png);
}

.benefit__list.item_5 .benefit__item {
  width: 296px;
}

.benefit__list .benefit__item p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  text-align: center;
  margin-top: 42px;
}

.benefit__list .benefit__item span.info {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  margin-top: 8px;
}

/* Step Box */
.step-box {
  margin-top: 40px;
}

.step-box .step-box__item {
  margin-bottom: 24px;
  background-color: #FAFAFA;
  padding: 24px;
  border-radius: 8px;
}

.step-box__item .step__title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.step-box__item .step__title span.no {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 28px;
  padding: 4px 24px;
  border-radius: 500px;
  background-color: var(--color-navy);
}

.step-box__item .step__title h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  color: #111;
}

.step-box__item .step__contents p {
  font-size: 18px;
  line-height: 26px;
  color: #505050; 
  margin-bottom: 4px;
}

.step-box__item .step__contents p:last-child {
  margin-bottom: 0px;
}

.step-flex-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.step-flex-box .step-box__item {
  flex: 1;
  background-color: #FAFAFA;
  padding: 24px;
  border-radius: 8px;
}

.step-flex-box .step-box__item .step__title {
  flex-direction: column;
  row-gap: 16px;
}

.step-flex-box .step__contents p {
  text-align: center;
}

/* 띠 배너 */
.clinic__banner {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 40px;
  position: relative;
  height: 348px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #FAFAFA;
}

.clinic__banner .bg {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
}

.clinic__banner .bg img {
  height: 100%;
  object-fit: contain;
}

.clinic__banner .text h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #111;
}

.clinic__banner .text h3 span {
  position: relative;
}

.clinic__banner .text h3 span:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 79, 26, 0.16);
}

.clinic__banner .text p {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #111;
}

.clinic__banner .contact_number {
  margin-top: 24px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 4px 24px;
  background-color: var(--color-navy);
  border-radius: 500px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.clinic__banner .contact_number h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
}

/* #### 특징 리스트 #### */
.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 24px;
  margin-top: 40px;
}

.feature__list.item_4 .feature__item {
  min-width: 332px;
  max-width: 332px;
}
.feature__list .feature__item {
  width: 100%;
  flex: 1;
  min-width: 450px;
  max-width: 450px;
}

.feature__list .feature__item .title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253857;
  border-radius: 8px 8px 0 0;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 76px;
  font-size: 20px;
  font-weight: 500;
}

.feature__list .feature__item .cnts {
  background-color: #FAFAFA;
  height: auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #111;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

/* Mobile */
@media screen and (max-width:768px) {
  .main {
    padding-top: 72px;
  }

  #wrap {
    padding-bottom: 262px;
  }

  .header {
    height: 72px;
  }

  .header__top {
    height: 100%;
  }

  .logo {
    width: 150px;
    height: 32px;
  }

  .header__tel {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .btn_mo_menu {
    display: inline-block;
  }
  
  .sub-nav__section {
    display: none;
  }

  .mo_header_sidebar {
    display: none;
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(0, 0, 0, 0.4);
  }

  .mo_header_sidebar.open .sidebar__inner {
    right: 0;
    opacity: 1;
  }

  .footer {
    bottom: -262px;
    height: 262px;
  }

  .footer__inner {  
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }

  .footer__info>h3 {
    font-size: 16px;
  }

  .footer__company-info { 
    margin: 16px 0;
  }

  .footer__company-info .company-info {
    row-gap: 4px;
  }
  
  .sidebar {
    display: none;
  }

  .page__header {
    height: 186px;
  }

  .page__title h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .page__title p {
    font-size: 14px;
    line-height: 20px;
  }

  .page__tabs {
    top: 72px;
  }

  .page__tabs ul li {
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    padding: 0 13px;
  }
}