@charset "UTF-8";
/* layout */
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100dvh;
  padding-top: 64px;
}

#wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
}

/* Loading */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-primary);
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: rotateAnimation 1s infinite linear;
}

@keyframes rotateAnimation {
  to {
    transform: rotate(1turn)
  }
}

.modal_loading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  min-height: 200px;
}

.modal_loading .loading_txt {
  font-size: 14px;
  color: #47484a;
  text-align: center;
}

.modal_loading.complete {
  min-height: 60px;
  margin-top: 0px;
}

.modal_loading.complete .loading_txt {
  font-size: 18px;
  font-weight: 600;
}

#modal-setting-ing.complete .modal__header h3,
#modal-restart.complete .modal__header h3 {
  display: none;
}

#modal-setting-ing.complete .modal__content,
#modal-restart.complete .modal__content {
  margin-top: 0px;
}

/* 비밀번호 재설정 모달 */
.change-pwd__info li {
  font-size: 12px;
  line-height: 16.8px;
  color: #7f8a94;
  list-style: disc;
  margin-left: 12px;
}

.form_change_pwd .input--typeA:not(:last-child) {
  margin-bottom: 16px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 101;
  background-color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  transition: 0.35s;
  padding: 0 40px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn_mo_menu {
  display: none;
  width: 24px;
  height: 24px;
  background: url(../_img/icon/icon_menu.svg) no-repeat center center / contain;
}

.logo {
  display: inline-block;
  width: 153px;
  height: 24px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__menu .btn_search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../_img/icon/icon_search.svg) no-repeat center center / contain;
}

.header__menu .mypage_menu {
  margin-right: 20px;
  line-height: 12px;
  position: relative;
}

.header__menu .mypage_menu .user_menu {
  display: none;
  position: absolute;
  right: -16px;
  top: 34px;
  width: auto;
  min-width: 207px;
  border-radius: 8px;
  border: 1px solid #e7ebee;
  box-shadow: 3px 6px 28px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  overflow: hidden;
  z-index: 100;
}

.header__menu .mypage_menu .user_menu li {
  width: 100%;
  height: 57px;
  border-bottom: 1px solid #e7ebee;
}

.header__menu .mypage_menu .user_menu li:last-child {
  border-bottom: none;
}

.header__menu .mypage_menu .user_menu li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: #181a1b;
}

.header__menu .btn_user {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: relative;
  background: url(../_img/icon/icon_user.svg) no-repeat center center / contain;
}

.header__menu .btn_user:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../_img/icon/icon_user_arrow.svg) no-repeat center center / contain;
}

.header-search__wrap {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100vw;
  height: calc(100dvh - 64px);
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.header__search {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.header__search .btn_close {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 26px;
  right: 41px;
  background: url(../_img/icon/icon_close.svg) no-repeat center center / contain;
}

.header__search .search__inner {
  padding: 40px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search .form_search {
  width: 100%;
  max-width: 640px;
}

.input__box {
  width: 100%;
  height: 44px;
  position: relative;
}

.input__box input {
  height: 100%;
  width: 100%;
}

.input__box .btns {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input__box .btn_delete {
  display: none;
  width: 24px;
  height: 24px;
  background: url(../_img/icon/icon_search_delete.svg) no-repeat center center / contain;
}

.input__box .btn_search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../_img/icon/icon_search.svg) no-repeat center center / contain;
}

.input__box .btn_eye {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../_img/icon/icon_eye_off2.svg) no-repeat center center / contain;
}

.input__box .btn_eye.show {
  background-image: url(../_img/icon/icon_eye_on2.svg);
}

#snb {
  height: 100%;
}

.snb__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 284px;
  flex-shrink: 0;
  height: 100%;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.snb__top {
  width: 100%;
}

.snb__tabs {
  display: flex;
  align-items: center;
  height: 63px;
  border-bottom: solid 1px #dce0e5;
}

.snb__tabs .tabs__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.snb__tabs .tabs__link span {
  display: block;
  width: 100%;
  border-right: 1px solid #dce0e5;
  font-weight: 500;
  color: #47484a;
}

.snb__tabs .tabs__link:last-child span {
  border-right: none;
}

.snb__tabs .tabs__link.on span {
  color: var(--color-primary);
  font-weight: 700;
}

.snb__tabs .tabs__link span b {
  position: relative;
}

.snb__tabs .tabs__link.on span b:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -22px;
  left: 0;
  background-color: var(--color-primary);
}

.snb__network {
  width: 100%;
  padding: 16px 24px;
}

.snb__network .network {
  width: 100%;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f9fafb;
}

.snb__network.active {
  position: relative;
}

.snb__network.active .network {
  background-color: #f5faf7;
  position: relative;
  padding-left: 52px;
}

.snb__network.active .network:before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../_img/icon/icon_wifi_active.svg) no-repeat center center / contain;
}

.snb__network .network span {
  height: 20px;
  width: auto;
  display: inline-block;
  padding: 0 14px;
  border-radius: 4px;
  background-color: #8f9ba5;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.snb__network .network p {
  font-weight: 500;
  color: #000;
}

.snb__network .network em.connect {
  font-style: normal;
  font-size: 12px;
  width: auto;
  display: inline-block;
  padding: 0 8px;
  color: #0146d0;
  height: 20px;
  border-radius: 4px;
  line-height: 20px;
  background-color: rgba(177, 202, 251, 0.3);
}

.snb-tab__content {
  display: none;
  padding: 36px 12px;
}

ul.snb__menu li {
  display: inline-block;
  padding: 0 12px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

ul.snb__menu li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  color: #47484a;
}

ul.snb__menu li.on {
  background-color: rgba(0, 0, 0, 0.05);
}

.snb-tab__content.on {
  display: block;
}

.page_contents {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.page__inner {
  width: 100%;
  max-width: 1635px;
  margin: 0 auto;
  padding: 40px;
}

.page__title {
  padding: 30px;
  border-radius: 12px;
  background-color: #f0f3f8;
  margin-bottom: 36px;
}

.page__title h3 {
  font-size: 28px;
  font-weight: 700;
  color: #181a1b;
}

.page__title p {
  font-size: 20px;
  font-weight: 500;
  color: #66707a;
  margin-top: 14px;
  line-height: 30px;
}

.page__title p.info {
  font-size: 18px;
  font-weight: 500;
  color: #7f8a94;
  padding-left: 26px;
  position: relative;
  margin-top: 8px;
}

.page__title p.info::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../_img/icon/icon_info.svg) no-repeat center center / contain;
}

.page__bottom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  border: solid 1px #e7ebee;
}

.page__bottom-button .txt p {
  margin-top: 14px;
  color: #525960;
}

.page__bottom-button .btn {
  width: 126px;
}

/* Dimmed */
.dimmed {
  position: relative;
}

.dimmed:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.6);
}

/* Info Box */
.info__box--A {
  padding: 24px;
  background-color: #fff;
  border: solid 1px #e7ebee;
  border-radius: 12px;
}

.info__box--A h3.tit {
  font-size: 24px;
  font-weight: 700;
  color: #181a1b;
}

.info__box--A .info__box {
  padding: 24px 0;
  border-bottom: 1px solid #e7ebee;
}

.info__box--A .info__box:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.info__box--A .info__box li {
  display: flex;
  align-items: baseline;
  margin-bottom: 12px;
}

.info__box--A .info__box li.center {
  align-items: center;
}

.info__box--A .info__box li:last-child {
  margin-bottom: 0;
}

.info__box--A .info__box li span.info_title {
  display: inline-block;
  width: 130px;
  flex-shrink: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #7f8a94;
}

.info__box--A .info__box li .info__cnts {
  font-size: 18px;
  line-height: 27px;
  color: #181a1b;
}

.info__box--A .info__box li .info__cnts.center {
  display: flex;
  align-items: center;
}

.info__box--A .flex_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 1px;
}

.info__box--B .info__box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 16px;
  border: 1px solid #e7ebee;
  border-radius: 12px;
  margin-bottom: 10px;
}

.info__box--B .info__box:last-child {
  margin-bottom: 0px;
}

.info__box--B ul.info--item li {
  margin-bottom: 6px;
}

.info__box--B ul.info--item li .info_title {
  font-size: 14px;
  font-weight: 500;
  color: #7f8a94;
  line-height: 21px;
}

.info__box--B ul.info--item li .info__cnts {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #1a1d1d;
}

/* FAQ Accordion */
.faq__list {
  width: 100%;
}

.faq__item {
  width: 100%;
}

.faq__question {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: auto;
  padding: 18px 0;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.faq__question .quest {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../_img/icon/icon_faq_quest.svg) no-repeat center center / contain;
}

.faq__question:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: 0.35s;
  background: url(../_img/icon/icon_faq_arrow.svg) no-repeat center center / contain;
}

.faq__question.on::after {
  transform: translateY(-50%) scaleY(-1);
}

.faq__answer {
  display: none;
  background-color: #fafafa;
  padding: 20px 16px;
  font-size: 14px;
  line-height: 18px;
  color: #3a3a3d;
}

.faq__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

/* Form Input Type */
.input--typeA {
  width: 100%;
}

.input--typeA .input__label {
  font-size: 12px;
  font-weight: 600;
  color: #66707a;
  display: block;
  margin-bottom: 8px;
}

.input--typeA .input__contents {
  width: 100%;
}

.input--typeA .input__contents .form-control {
  width: 100%;
}

/* Scroll */
.custom_scroll {
  padding-right: 9px;
}

.custom_scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom_scroll::-webkit-scrollbar-button:vertical:start:decrement,
.custom_scroll::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 5px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  height: 30%;
  background: rgb(59, 64, 68, 0.5);
  border-radius: 10px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

@media screen and (min-width:1200px) {
  #snb {
    display: inline-block !important;
  }
}

/* Pad & Mobile */
@media screen and (max-width:1200px) {
  .main {
    padding-top: 56px;
  }

  .header {
    height: 56px;
    padding: 0 16px;
  }

  .btn_mo_menu {  
    display: inline-block;
  }

  .logo {
    width: 137px;
    height: 22px;
  }

  .header__menu {
    gap: 16px;
  }

  .header__menu .mypage_menu .user_menu {
    min-width: 142px;
  }

  .header-search__wrap {
    top: 56px;
    height: calc(100dvh - 56px);
  }

  .header__search {
    border-top: none;
  }

  .header__search .btn_close {  
    top: 16px;
    right: 16px;
  }

  .header__search .search__inner {
    padding-top: 52px;
    padding-bottom: 26px;
  }

  #snb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100dvh;
  }

  .snb__inner {
    position: absolute;
    left: -100%;
    top: 56px;
    width: 274px;
    z-index: 101;
    transition: 0.5s ease-out;
    height: calc(100% - 56px);
  }

  #snb.open {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #snb.open .snb__inner {
    left: 0;
  }

  .page_contents {  
    flex: auto;
    width: 100%;
  }

  .page__title {
    padding: 12px 20px;
    margin-bottom: 24px;
  }

  .page__title h3 {
    font-size: 18px;
  }

  .page__title p {  
    font-size: 14px;
    margin-top: 8px;
    line-height: 18px;
  }

  .page__title p.info {
    font-size: 12px;
    line-height: 15px;
    padding-left: 20px;
  }

  .page__title p.info::before {
    width: 16px;
    height: 16px;
  }

  .info__box--A {
    padding: 20px 16px;
  }

  .info__box--A h3.tit {
    font-size: 16px;
    line-height: 22px;
  }

  .info__box--A .info__box {
    padding: 12px 0;
  }

  .info__box--A .info__box:first-child {
    padding-top: 0px;
  }

  .info__box--A .info__box li {
    margin-bottom: 8px;
  }

  .info__box--A .info__box li span.info_title {
    width: 94px;
    font-size: 14px;
    line-height: 21px;
  }

  .info__box--A .info__box li .info__cnts {
    font-size: 14px;
    line-height: 21px;
  }

  .page__bottom-button {
    padding: 20px 16px;
  }

  .page__bottom-button .txt p {
    font-size: 14px;
    margin-top: 4px;
    line-height: 21px;
  }

  .page__bottom-button .btn {
    width: auto;
    padding: 0 12px;
  }
}

/* Pad */
@media screen and (min-width: 744px) and (max-width:1200px) {
  .page__inner {
    padding: 20px 24px;
    padding-bottom: 40px;
  }
}

/* Mobile */
@media screen and (max-width:743px) {
  .page__inner {
    padding: 20px 16px;
    padding-bottom: 40px;
  }
}

/* #### 로그인 ####*/
main.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  background-color: #f2f2f2;
}

.login__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  width: 100%;
  max-width: 1332px;
  padding: 0 20px;
}

.login__inner {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 28px;
  padding: 54px 0;
  height: 588px;
  padding-left: 96px;
  padding-right: 123px;
}

.login__inner .login__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border-right: 1px solid #d9d9d9;
}

.login__greeting .logo {
  width: 207px;
  height: 32px;
}

.login__greeting h2 {
  margin-top: 36px;
  font-size: 36px;
  font-weight: 700;
  color: #181a1b;
}

.login__connected .tit {
  color: #7f8a94;
  margin-bottom: 18px;
}

.conneted_machine {
  display: flex;
  align-items: center;
  gap: 12px;
}

.conneted_machine .machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.conneted_machine .machine .machine_img {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.conneted_machine .machine_img.router {
  background-image: url(../_img/router_off.png);
}

.conneted_machine .machine_img.router.on {
  background-image: url(../_img/router_on.png);
}

.conneted_machine .machine_img.broad {
  background-image: url(../_img/broad_off.png);
}

.conneted_machine .machine_img.broad.on {
  background-image: url(../_img/broad_on.png);
}

.conneted_machine .machine_img.mash {
  background-image: url(../_img/mash_on.png);
}

.conneted_machine .machine span {
  font-size: 18px;
  font-weight: 500;
  color: #181a1b;
}

.conneted_machine span.bar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 36px;
}

.conneted_machine span.bar em {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e7ebee;
}

.login__inner .login__input {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 70px;
}

.login-input__guide .img {
  text-align: center;
  height: 214px;
}

.login-input__guide img {
  height: 100%;
  object-fit: contain;
}

.login-input__guide p {
  margin-top: 28px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 27px;
  color: #66707a;
}

.form_login .login_input {
  margin-bottom: 12px;
  width: 100%;
}

.form_login .login_input input {
  width: 100%;
}

.login__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  color: #333;
}

.login__info li {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  padding-right: 16px;
}

.login__info li.mo_info_tit {
  display: none;
}

.login__info li:after {
  content: '';
  display: inline-block;
  width: 1.3px;
  height: 20px;
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.login__info li:last-child:after {
  content: none;
}

.login__info li span {
  font-size: 18px;
  opacity: 0.5;
}

.login__info li b {
  font-size: 18px;
  font-weight: 400;
}

.modal_vertify_code .modal__inner {
  max-width: 518px;
  padding: 32px 40px;
}

.security-code .security-code_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dce0e5;
  background-color: #f5f6f7;
  border-radius: 7px;
  height: 106px;
  max-width: 275px;
  margin: 0 auto;
}

.security-code .security-code_img img {
  width: 205px;
  height: 46px;
  object-fit: contain;
}

.input-security-code {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 258px;
}

.input-security-code .security-code {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.input-security-code .security-code input {
  width: 100%;
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #181a1b;
}

.input-security-code .security-code.sm input {
  font-size: 16px;
}

.security-code__form .security_btn {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.security-code__form .security_btn .btn-textType {
  font-size: 13px;
  color: #525960;
  font-weight: 400;
}

.security-code__info {
  padding: 12px 20px;
  border: 1px solid #dce0e5;
  border-radius: 6px;
  margin-top: 36px;
}

.security-code__info li {
  list-style: disc;
  font-size: 14px;
  color: #525960;
  margin-left: 12px;
}

.security-code__info li:not(:last-child) {
  margin-bottom: 9px;
}

/* Pad & Mobile */
@media screen and (max-width:1200px) {
  main.login {
    background-color: #fff;
  }

  .login__inner {
    flex-direction: column;
    padding: 0 0;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    row-gap: 34px;
  }

  .login__inner .login__txt {
    justify-content: flex-start;
    row-gap: 34px;
    border-right: none;
  }

  .login__greeting .logo {
    width: 115px;
    height: 20px;
  }

  .login__greeting h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 9px;
  }

  .login__connected .tit {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .conneted_machine .machine {
    row-gap: 8px;
  }

  .conneted_machine .machine .machine_img {
    width: 44px;
    height: 44px;
  }

  .conneted_machine .machine span {
    font-size: 14px;
  }

  .conneted_machine span.bar {
    gap: 6px;
    margin-bottom: 26px;
  }

  .login__inner .login__input {
    padding-left: 0px;
  }

  .login-input__guide p {
    margin-top: 24px;
    font-size: 12px;
    line-height: 18px;
  }

  .form_login .btn {
    height: 52px;
  }

  .login__info {
    width: 100%;
    flex-direction: column;
    row-gap: 4px;
    background-color: #f7f7f7;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .login__info li {
    width: 100%;
    gap: 8px;
    padding-right: 0px;
  }

  .login__info li.mo_info_tit {
    display: block;
    margin-bottom: 5px;
  }

  .login__info li:after {
    content: none;
  }

  .login__info li:not(.mo_info_tit) span {
    padding-left: 10px;
    position: relative;
  }

  .login__info li:not(.mo_info_tit) span:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #7f8a94;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .login__info li span,
  .login__info li b {
    font-size: 12px;
  }

  .login__info li.mo_info_tit span {
    color: #3b4044;
    opacity: 1;
  }

  .modal_vertify_code .modal__inner {
    max-width: 310px;
    padding: 32px 28px;
  }

  .security-code .security-code_img {
    max-width: 270px;
    height: 98px;
  }

  .input-security-code {
    margin-top: 16px;
  }

  .security-code__form .security_btn {
    margin-top: 16px;
  }

  .security-code__info {
    margin-top: 24px;
    padding: 12px;
  }

  .security-code__info li {
    font-size: 12px;
  }

  .modal_vertify_code .modal__btns {
    margin-top: 18px;
  }
}

/* Pad */
@media screen and (min-width: 744px) and (max-width:1200px) {
  .login__inner {
    max-width: 517px;
  }

  .conneted_machine {
    gap: 10px;
  }

  .form_login .login_input {
    margin-bottom: 14px;
  }

  .login__info {
    max-width: 517px;
  }
}

/* Mobile */
@media screen and (max-width:743px) {
  main.login {
    align-items: flex-start;
    padding-top: 40px;
  }

  .login__wrap {
    row-gap: 24px;
  }

  .login__inner {
    row-gap: 27px;
  }

  .login__inner .login__txt {
    row-gap: 24px;
  }

  .login__greeting .logo {
    width: 113px;
  }

  .conneted_machine {
    gap: 8px;
  }

  .login-input__guide .img {
    text-align: left;
  }

  .form_login .login_input {
    margin-bottom: 8px;
  }
}

/* #### 검색결과 #### */
.search-results form.form_search {
  max-width: 640px;
  margin: 0 auto;
}

.search-results__content {
  margin-top: 36px;
}

.search-results .results__box {
  margin-top: 36px;
}

.search-results .results__box .h2_tit {
  margin-bottom: 24px;
}

.results__link {
  width: 100%;
}

.results__link .link__item {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.results__link .link__item a {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  font-size: 18px;
}

.results__link .link__item a:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(../_img/icon/icon_link_arrow.svg) no-repeat center center / contain;
}

.search_nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 320px);
}

.search_nodata .nodata_img {
  display: inline-block;
  width: 96px;
  height: 96px;
}

.search_nodata .nodata_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Mobile */
@media screen and (max-width:1200px) {
  .search-results .results__box .h2_tit {
    margin-bottom: 14px;
  }

  .results__link .link__item {
    height: 48px;
  }

  .results__link .link__item a {
    font-size: 14px;
  }

  .search_nodata .nodata_img {
    width: 50px;
    height: 50px;
  }
}

/* TimeTable */
.device-timetable {
  display: flex;
  margin-top: 24px;
}

.timetable__day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timetable__day div {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #1a1d1d;
  line-height: 40px;
}

.timetable__wrap {
  overflow-x: auto;
}

.timetable__time {
  display: flex;
  align-items: center;
}

.timetable__time div {
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  color: #1a1d1d;
}

.timetable__set {
  display: flex;
  align-items: center;
  position: relative;
}

.timetable__set div {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border: 0.5px solid #f3f5f6;
}

.timetable__set div span {
  width: 50%;
  display: inline-block;
  height: 100%;
  cursor: pointer;
}

.timetable__set div span.active {
  background-color: rgba(239, 52, 132, 0.1);
}

.timetable__set div span.yellow {
  background-color: rgba(255, 157, 87, 0.2);
}

.timetable__set .selected_time {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  border-left: 2px solid var(--color-primary);
  background-color: rgba(239, 52, 132, 0.1);
}

.timetable__set .selected_time em {
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  font-style: normal;
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  pointer-events: none;
}

@media (hover: hover) {
  /* PC에 적용할 CSS */
  .timetable__set div span:hover {
    background-color: rgba(239, 52, 132, 0.1);
  }
}