
@keyframes pressDown1 {
  30%,
  40%,
  100% {
      transform: translateY(0);
  }
  35% {
      transform: translateY(6px);
  }
}
@keyframes pressDown2 {
  70%,
  80%,
  100% {
      transform: translateY(0);
  }
  75% {
      transform: translateY(6px);
  }
}
@keyframes pressDown3 {
  30%,
  40%,
  100% {
      transform: translateY(0);
  }
  35% {
      transform: translateY(6px);
  }
}
@keyframes pressDown4 {
  40%,
  50%,
  100% {
      transform: translateY(0);
  }
  45% {
      transform: translateY(6px);
  }
}
@keyframes pressDown5 {
  20%,
  30%,
  100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(6px);
  }
}
@keyframes pressDown6 {
  60%,
  70%,
  100% {
      transform: translateY(0);
  }
  65% {
      transform: translateY(6px);
  }
}
@keyframes pressDown7 {
  10%,
  20%,
  100% {
      transform: translateY(0);
  }
  15% {
      transform: translateY(6px);
  }
}
@keyframes pressDown8 {
  35%,
  45%,
  100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(6px);
  }
}
@keyframes fadeInOutScrollDown {
  0% {
      opacity: 0;
  }

  40% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}
@keyframes rotatestar {
  0% {
      transform: rotate(0deg);
  }  

  100% { 
      transform: rotate(360deg);
  }
}
@keyframes wavyLine {
  
}