@charset "UTF-8";
/* #### Main #### */
.section_intro {
  width: 100%;
  height: 100dvh;
  background-color: #1b1b1b;
}
.section_intro .sec__inner {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section_intro .scroll_down {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.35s;
  transform: translate(-50%, -50%);
  animation: fadeInOutScrollDown 1.4s linear infinite;
  animation-fill-mode: both;
}
.section_intro .scroll_down span {
  font-size: 24px;
  color: #fff;
  letter-spacing: 4px;
}
.intro_title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 6vw;
  font-weight: 800;
  color: #fff;
}
.intro_title span:not(.image_slot) {
  opacity: 0;
  transform: translateY(40px);
  display: inline-block;
  letter-spacing: 4.2px;
  word-spacing: 4.2px;
}
.intro_title span:nth-child(1) {
  transform: translate(-20px, 30px);
}
.intro_title span:nth-child(2) {
  transform: translate(20px, -40px);
}
.intro_title span:nth-child(3) {
  transform: translate(-30px, -40px);
}
.intro_title span:nth-child(4) {
  transform: translate(-30px, 30px);
}
.intro_title span:nth-child(5) {
  transform: translate(30px, -40px);
}
.intro_title span:nth-child(6) {
  transform: translate(-30px, -30px);
}
.intro_title span:nth-child(7) {
  transform: translate(-30px, 30px);
}
.intro_title span:nth-child(8) {
  transform: translate(40px, -40px);
}
.intro_title span:nth-child(9) {
  transform: translate(30px, -30px);
}
.intro_title span:nth-child(10) {
  transform: translate(-40px, 40px);
}
.intro_title span:nth-child(11) {
  transform: translate(-30px, -40px);
}
.intro_title span:nth-child(12) {
  transform: translate(30px, 30px);
}
.intro_title span:nth-child(13) {
  transform: translate(40px, -30px);
}
.intro_title span:nth-child(14) {
  transform: translate(-30px, 40px);
}
.intro_title span:nth-child(15) {
  transform: translate(30px, -30px);
}
.intro_title span:nth-child(16) {
  transform: translate(40px, -40px);
}
.image_slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  opacity: 0;
  transform: scale(0.2);
  margin: 0 24px;
  position: relative;
}
.image_slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.intro_desc {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  opacity: 0;
  font-weight: 400;
  color: #fff;
  width: max-content;
  position: absolute;
  left: -50%;
  bottom: -40px;
}
.section_intro .txt2 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  opacity: 0;
  pointer-events: none;
}
.section_intro .intro_myself {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}
.section_intro .intro_myself h2 {
  font-size: 54px;
  font-weight: 700;
  color: #fff;
  overflow: hidden;
}
.letter {
  position: relative;
  display: inline-block;
  color: #fff;
  overflow: hidden;
}
.letter .fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  color: #ff78a0;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
}
.section_intro .intro_myself p {
  max-width: 620px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  flex: 1;
  flex-shrink: 0;
  position: relative;
}
.intro_myself p span {
  display: block;
  opacity: 0;
  transform: translateY(40px);
}
@media screen and (max-width:767px) {
  .intro_title {
    font-size: 6.6vw;
    gap: 2px;
  }
  .image_slot {
    margin: 0 8px;
  }
  .intro_desc {
    font-size: 13px;
    left: -90px;
    bottom: -28px;
  }
  .section_intro .txt2 {
    gap: 40px;
  }
  .section_intro .intro_myself {
    flex-direction: column;
    gap: 40px;
  }
  .section_intro .intro_myself h2 {
    font-size: 36px;
  }
  .section_intro .intro_myself p {
    font-size: 14px;
  }
}