.main_whole{
    margin: 58px auto 0 auto;
}

.join_row_whole{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.join_row{
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
}
.join_row p{
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    color: #101010;
    margin: 0 auto 10px auto;
}
button#find_mail{
    min-width: 80px;
    width: 80px;
    height: 40px;
    background-color: #0C2149;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 13px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}