.main_section{
    margin-bottom: 0;
}

p.message_title_p{
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px #CACACA solid;
    padding-bottom: 12px;
    margin: 0 auto;
}

.message_teacher_info{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.class_teacher_img{
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 0 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}
.class_teacher_img img{
    width: 100%;
    height: 100%;
    background-size: contain;
}
.class_teacher_info p{
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    margin: 0;
}
.class_teacher_info p:nth-child(2){
    margin: 12px 0 0 0;
}

p.detail_ling10{
    position: relative;
    width: 100vw;
    height: 10px;
    background-color: #F5F5F5;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.message_write_whole{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.message_write_whole .display_flex{
    width: 100%;
    height: auto;
    margin: 0 auto 15px auto;
}
.message_write_whole .display_flex p{
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    margin: 0 5px 0 0;
}
.message_write_whole .display_flex img{
    width: 16px;
    height: 16px;
    background-size: contain;
    margin: 0;
}
.message_textarea_box{
    border-radius: 10px;
    height: calc(100vh - 381px);
    padding: 12px;
    border: 1px #fff solid;
}
.message_textarea_box textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.message_btn_whole{
    width: 100%;
    height: auto;
}
.message_btn_whole button{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #0C2149;
    font-size: 15px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}