@media (max-width: 359px){
    .nav_tab_top .display_flex{
        overflow-x: auto!important;
    }
    .nav_tab_top .display_flex::-webkit-scrollbar{
        display: none;
    }
    .nav_tab_flex a{
        margin: 12px 10px 0 0!important;
    }
    .nav_tab_flex a:last-child{
        margin: 12px 0 0 0!important;
    }
}

table {
    display: table;
    width: 100%;
    height: 287px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 60px auto 0 auto;
    table-layout: fixed;
}
tr{
    width: 100%;
}
tr td{
    position: relative;
    display: table-cell;
    height: 35px!important;
    max-height: 35px!important;
    text-align: center;
    border: 1px #e1e1e1 solid;
    border-top: none;
    border-left: none;
}
tbody tr:nth-child(3) td{
    border-top: 1px #e1e1e1 solid;
}
tr td:first-child{
    border-left: 1px #e1e1e1 solid;
}
tr td *{
    cursor: pointer;
    font-weight: bold;
}
tbody tr:nth-child(1) td,
tbody tr:nth-child(2) td{
    border: none;
    font-weight: bold;
}
tbody tr:nth-child(1) td{
    font-size: 18px;
    font-weight: bold;
    color: #101010;
}
tbody tr:nth-child(2) td{
    font-size: 15px;
    color: #101010;
}
tbody tr:nth-child(2) td:nth-child(7){
    color: #3B69FF;
}
tbody tr:nth-child(2) td:nth-child(1){
    color: #EB5757;
}
tbody tr:nth-child(1) td:nth-child(1){
    text-align: end;
}
tbody tr:nth-child(1) td:nth-child(2){
    text-align: center;
}
tbody tr:nth-child(1) td:nth-child(3){
    text-align: start;
}
tbody tr:nth-child(1) button{
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
}
tbody tr:nth-child(1) button img{
    cursor: pointer;
}


.display_flex_row{
    padding: 0 10px;
    margin: 8px auto 0 auto;
}
.display_flex_row .display_flex:nth-child(1) p:first-child{
    width: 10px;
    height: 10px;
    background-color: #bb0000;
    border-radius: 10px;
}
.display_flex_row .display_flex:nth-child(3) p:first-child{
    width: 10px;
    height: 10px;
    background-color:#BB53CB;
    border-radius: 10px;
}
.display_flex_row .display_flex:nth-child(5) p:first-child{
    width: 10px;
    height: 10px;
    background-color: #00B800;
    border-radius: 10px;
}
.display_flex_row .display_flex:nth-child(7) p:first-child{
    width: 10px;
    height: 10px;
    background-color: #DDB462;
    border-radius: 10px;
}
.display_flex_row .display_flex p:last-child{
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #101010;
    margin: 0 0 0 2px;
}
.bet_line{
    width: 1px;
    height: 10px;
    background-color: #E1E1E1;
    margin: 0 10px;
    border-radius: 5px;
}
#day_schedule_whole{
    position: relative;
    width: calc(100vw - 10%);
    height: auto;
    margin: 16px auto 0 auto;
    background-color: #E8F6FE;
    padding: 16px 5% 20px 5%;
    left: 50%;
    transform: translateX(-50%);
}
.day.active{
    background-color: #E8F6FE;
}
.clicked_date{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #101010;
    margin-bottom: 8px;
}
.day_schedule_box{
    width: 100%;
    height: calc(100vh - 522px);
    max-height: calc(100vh - 522px);
    overflow-x: hidden;
    overflow-y: auto;
}
.day_schedule_box::-webkit-scrollbar{
    display: none;
}
.day_schedule_row_whole{
    width: calc(100% - 24px);
    height: auto;
    background-color: #fff;
    padding: 12px;
    border-radius: 20px;
    margin: 0 auto 8px auto;
}
.day_schedule_row{
    width: 100%;
    height: auto;
    margin: 0 auto 5px auto;
}
.day_schedule_row_whole .day_schedule_row:last-child{
    margin-bottom: 0;
}
.day_schedule_row p{
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
}
.day_schedule_row p:first-child{
    width: 100%;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.day_schedule_row p:last-child{
    min-width: 52px;
    width: 52px;
    height: 20px;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
}
.day_schedule_row_whole2{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.day_schedule_row2{
    width: calc(100% - 24px);
    height: auto;
    padding: 12px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto 8px auto;
}
.day_schedule_row2 .day_schedule_row2{
    width: 100%;
    height: auto;
    padding: 0;
}
.day_schedule_row_whole2 .day_schedule_row2:last-child{
    margin-bottom: 0;
}
.day_schedule_row2 p{
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
}
.row2_flex p:first-child{
    width: 100%;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.row2_flex p:last-child{
    min-width: 52px;
    width: 52px;
    height: 20px;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    color:#fff;
}
p.class_sub_title{
    line-height: 18px;
    margin: 16px auto 10px auto;
}
p.end_date{
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    color: #999999;
}
p.no_sche_today{
    font-size: 15px;
    line-height: calc(100vh - 493px);
    font-weight: 400;
    text-align: center;
    color: #0C2149;
    height: calc(100vh - 493px);
}
.schedule_cir_row{
    position: absolute;
    bottom: 5px;
}
.schedule_cir_row div{
    margin-right: 2px;
    border-radius: 5px;
}
.schedule_cir_row div:last-child{
    margin-right: 0;
}