@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

#wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.header {
  width: 100%;
  height: 92px;
  background-color: #fff;
  border-bottom: 1px solid #E5E5EC;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 24px;
  align-items: center;
}

.logo_gnb {
  display: flex;
  align-items: center;
  gap: 116px;
}

.header_logo {
  display: inline-block;
  width: 180px;
  height: 44px;
}

.header_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav.gnb {
  height: 100%;
}

nav.gnb ul.gnb_ul_1depth {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
}

nav.gnb ul.gnb_ul_1depth>li {
  position: relative;
  display: inline-block;
  width: max-content;
  height: 100%;
  line-height: 92px;
}

nav.gnb ul.gnb_ul_1depth>li>a {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #111;
}

nav.gnb ul.gnb_ul_2depth {
  background-color: #fff;
  width: 260px;
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1000;
  border-radius: 4px;
  border: 1px solid #DFDFDF;
}

nav.gnb .ul_2depth__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav.gnb ul.gnb_ul_2depth li {
  display: inline-block;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav.gnb ul.gnb_ul_2depth li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.35s;
}

nav.gnb ul.gnb_ul_2depth li a:hover {
  background-color: #242424;
  color: #21C26D;
}

.header__inner .lang_contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.lang_contact ul.header_lang {
  display: flex;
  align-items: center;
}

ul.header_lang li {
  padding: 0 8px;
  font-size: 18px;
  font-weight: 500;
  color: #999;
  line-height: 26px;
  position: relative;
}

ul.header_lang li:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #E5E5EC;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ul.header_lang li:last-child:after {
  content: none;
}

ul.header_lang li.active {
  color: #111;
}

.lang_contact .btn_contact {
  display: inline-block;
  padding: 0 16px;
  border-radius: 8px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  height: 44px;
  line-height: 44px;
  transition: 0.35s;
}

.lang_contact .btn_contact:hover {
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.12);
}

nav#sidebar_gnb ul li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
}

nav#sidebar_gnb ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 52px;
}

nav#sidebar_gnb ul li a:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

nav#sidebar_gnb ul li:nth-child(1) a:before {
  background: url(../img/data/menu01.svg) no-repeat center center / contain;
}

nav#sidebar_gnb ul li:nth-child(2) a:before {
  background: url(../img/data/menu02.svg) no-repeat center center / contain;
}

nav#sidebar_gnb ul li:nth-child(3) a:before {
  background: url(../img/data/menu03.svg) no-repeat center center / contain;
}

nav#sidebar_gnb ul li.active a {
  background-color: #EEF8F5;
  border-right: 4px solid #0DA052;
  color: #0DA052;
  font-weight: 600;
}

nav#sidebar_gnb ul li.active:nth-child(1) a:before {
  background: url(../img/data/menu01_active.svg) no-repeat center center / contain;
}

nav#sidebar_gnb ul li.active:nth-child(2) a:before {
  background: url(../img/data/menu02_active.svg) no-repeat center center / contain;
}

nav#sidebar_gnb ul li.active:nth-child(3) a:before {
  background: url(../img/data/menu03_active.svg) no-repeat center center / contain;
}

.sidebar__inner ul.header_lang li {
  padding: 0 8px;
  color: #999;
  position: relative;
}

.sidebar__inner ul.header_lang li:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #E5E5EC;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar__inner ul.header_lang li:last-child:after {
  content: none;
}

.wrap__inner {
  width: 100%;
  height: calc(100% - 92px);
  display: flex;
}

aside.gnb-sidebar {
  width: 261px;
  height: 100%;
}

.main {
  width: calc(100% - 260px);
  height: 100%;
  overflow-y: auto;
  background-color: #F6F8FA;
}


/* Pad */
@media screen and (min-width: 768px) and (max-width:1200px) {
  .header__inner .logo_gnb {
    gap: 56px;
  }

  .header__inner .lang_contact {
    gap: 12px;
  }
}

/* Mobile */
@media screen and (max-width:900px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
  }

  .wrap__inner {
    padding-top: 56px;
    flex-direction: column;
  }

  .header {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
  }

  .header_logo {
    padding: 0;
  }

  .header_logo img {
    width: 138px;
    height: 40px;
  }

  nav.gnb {
    display: none;
  }

  .header__inner .lang_contact {
    display: none;
  }

  .header_mo_menu {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../img/common/icon_menu.svg) no-repeat center center / contain;
  }

  aside.gnb-sidebar {
    display: none;
  }

  .main {
    width: 100%;
    overflow: hidden;
  }

  
}