@media (max-width: 359px){
    .message_top_btn{
        width: 100px!important;
    }
}

.teacher_info_box{
    width: 100%;
    height: auto;
    margin: 0 auto 12px auto;
    border-bottom: 1px solid #CACACA;
    padding: 0 0 10px 0;
}
.teacher_info_txt{
    width: 100%;
    height: auto;
    margin: 0;
}
.teacher_info_txt p:first-child{
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #101010;
    margin: 0 0 10px 0;
}
.teacher_info_txt p:last-child{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #101010;
    margin: 0;
}
.teacher_info_box img{
    width: 55px;
    height: auto;
    background-size: contain;
}

.message_top_whole{
    width: 100%;
    height: auto;
    margin: 0 auto 22px auto;
    padding: 0;
    background-color: #fff;
}
.message_top_btn{
    position: relative;
    width: 125px;
    height: 32px;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    color: #999999;
    border: 1px solid #CACACA;
    border-radius: 5px;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
}
.message_top_btn *{
    cursor: pointer;
}
.message_top_btn a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 32px;
}
.message_top_whole .display_flex .message_top_btn:first-child{
    margin-right: 15px;
}
.message_top_btn.message_top_on{
    border-color: #0C2149;
    background-color: #0C2149;
    cursor: default;
}
.message_top_btn.message_top_on a{
    color: #FFDF1A;
    cursor: default;
}
.message_top_btn.message_top_on span{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #FF5551;
    top: -2px;
    right: -2px;
}
/*메시지 내용 시작*/
.message_info_whole{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.message_info_row{
    width: calc(100% - 24px);
    height: auto;
    padding: 12px 12px 5px 12px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto 0 auto;
    cursor: pointer;
}
.message_info_row *{
    cursor: pointer;
}
.message_info_whole .message_info_row:first-child{
    margin-top: 0;
}
.message_info_row a p.message_content{
    min-height: 42px;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    color: #101010;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.message_info_flex{
    width: 100%;
    height: auto;
    margin: 5px auto 0 auto;
}
.message_info_flex p{
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    color: #101010;
}
.message_info_flex .display_flex p{
    font-weight: bold;
    margin: 0 0 0 5px;
}
.message_icon{
    width: 18px;
    height: 18px;
    background: url('/common/images/student/icon/time_icon_bu.svg') no-repeat;
    background-size: contain;
}
#message_receive{
    display: none;
}
/*다 읽었을 때*/
.message_read .message_icon{
    background: url('/common/images/student/icon/time_icon_gr.svg') no-repeat;
}
.message_read p{
    color: #999999!important;
}