.represent_img{
    position: relative;
    width: 100%;
    height: 62.5000vw;
    max-height: 480px;
    overflow: hidden;
    margin: 11px auto 16px auto;
}
.represent_img img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.represent_table{
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-top: 1px solid #DBDBDB;
    border-spacing: 0;
}
tr{
    border-bottom: 1px solid #DBDBDB;
}
tr td{
    border-bottom: 1px solid #DBDBDB;
}
tr td:first-child{
    min-width: 88px;
    width: 88px;
    max-width: 88px;
    height: 29px;
    background-color: #F4F4F4;
    padding: 6px 0 5px 12px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    color: #000000;
}
tr td:last-child{
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    color: #999999;
    padding: 6px 10px 5px 10px;
}