.main_section{
    margin: 48px auto 0 auto;
}
.aside_list_row{
    display: none!important;
}
.aside_detail_row{
    display: flex!important;
}

.notice_title_whole{
    position: relative;
    width: calc(100vw - 10%);
    height: auto;
    padding: 17px 5% 9px 5%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px #CACACA solid;
    margin-bottom: 20px;
}
.notice_title_box{
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
}
.notice_title_box p.notice_title_p{
    font-size: 15px;
    line-height: 22.5px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.notice_title_box .display_flex img{
    width: 40px;
    height: 40px;
    background-size: contain;
    margin: 0 10px 0 0;
}
.notice_txt_row{
    width: 100%;
    height: auto;
}
.notice_txt_row p{
    font-weight: 400;
}
.notice_txt_row p:first-child{
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 7px 0;
}
.notice_txt_row p:last-child{
    font-size: 12px;
    line-height: 13px;
}
.notice_content_whole{
    width: 100%;
    height: auto;
}
.notice_content_whole img{
    width: 100%;
    height: auto;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    overflow: hidden;
}
.notice_content_whole p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 10px;
}