@media (max-width: 359px){
    .main_section{
        min-width: auto!important;
    }
    .student_header_flex{
        min-width: auto!important;
    }
}

body{
    overflow-x: hidden!important;
    background-color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button[disabled]{
    background-color: #CACACA!important;
    color: #fff!important;
    cursor: default!important;
    border: none!important;
}

*{
    color: #101010;
    cursor: default;
    -webkit-tap-highlight-color: transparent!important;
}

a p{
    color: #101010;
}
textarea,
input{
    resize: none;
    cursor: text;
}
input[type="checkbox"],
input[type="radio"]{
    cursor: pointer;
}
select{
    width: calc(100% - 32px);
    /* select 화살표 안 보이게 시작 */
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    /* select 화살표 안 보이게 끝 */
    background:url('/common/images/student/icon/arrow_bottom_gr.svg') no-repeat 97% 50%/15px auto;
    margin: 0 16px;
}
select::-ms-expand{
    display:none;/*for IE10,11*/
}
select,
button{
    cursor: pointer;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent!important;
}

.display_flex{
    display: flex;
}
.flex_wrap{
    flex-wrap: wrap;
}
.flex_nowrap{
    flex-wrap: nowrap;
}
.flex_start{
    justify-content: flex-start;
}
.flex_center{
    justify-content: center;
}
.flex_between{
    justify-content: space-between;
}
.flex_around{
    justify-content: space-around;
}
.flex_end{
    justify-content: flex-end;
}
.flex_align_s{
    align-items: flex-start;
}
.flex_align_c{
    align-items: center;
}
.flex_align_e{
    align-items: flex-end;
}
.flex_dir_c{
    flex-direction: column;
}

.box_shadow{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}

/* header */
.student_header_whole{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}
.student_header_flex{
    min-width: 328px;
    width: 90%;
    max-width: 700px;
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: none;
}
.student_header_flex#student_index{
    background-color: #152254;
}
.student_header_flex#student_other{
    background-color: #FFFFFF;
    display: flex;
}
.student_header_flex .display_flex *{
    cursor: pointer;
}
.student_header_flex .display_flex a{
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    margin: 0 0 0 10px;
}
.student_header_flex .display_flex a:first-child{
    margin-left: 0;
}
.header_logo{
    cursor: pointer;
}
.header_logo *{
    cursor: pointer;
}
.message_on{
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    right: 0;
    background-color: #FF5551;
    border-radius: 5px;
}
.student_header_flex#student_detail .display_flex a{
    margin: 0;
}
.back_icon{
    width: 24px;
    height: 24px;
}

/*푸터*/
.iboda_footer_section{
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
    display: block!important;
}
.tab_nav_flex{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.tab_nav_flex a{
    width: 59px;
    height: 100%;
}
.tab_nav_flex a *{
    cursor: pointer;
}
.tab_nav_flex a:nth-child(2){
    margin-right: 92px;
}
.tab_nav_flex a:nth-child(3){
    position: absolute;
    width: 60px;
    height: 60px;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.tab_nav_row{
    padding-top: 6px;
}
.tab_nav_icon1,
.tab_nav_icon2,
.tab_nav_icon3,
.tab_nav_icon4{
    width: 24px;
    height: 24px;
    background-size: contain;
    margin: 0 auto 2px auto;
}
.tab_nav_icon1{
    background: url('/common/images/student/icon/tab_off1.svg');
}
.tab_on .tab_nav_icon1{
    background: url('/common/images/student/icon/tab_on1.svg');
}
.tab_nav_icon2{
    background: url('/common/images/student/icon/tab_off2.svg');
}
.tab_on .tab_nav_icon2{
    background: url('/common/images/student/icon/tab_on2.svg');
}
.tab_nav_icon3{
    background: url('/common/images/student/icon/tab_off3.svg');
}
.tab_on .tab_nav_icon3{
    background: url('/common/images/student/icon/tab_on3.svg');
}
.tab_nav_icon4{
    background: url('/common/images/student/icon/tab_off4.svg');
}
.tab_on .tab_nav_icon4{
    background: url('/common/images/student/icon/tab_on4.svg');
}
.tab_box p{
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #CACACA;
    text-align: center;
}
.tab_box.tab_on p{
    color: #0C2149;
}
p.enterway_txt{
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    color: #0C2149;
    margin: 0 0 0 10px;
    cursor: default!important;
}

.main_section{
    min-width: 328px;
    width: 90%;
    max-width: 700px;
    min-height: calc(100vh - 98px);
    height: auto;
    margin: 48px auto 50px auto;
}

.input_box{
    width: calc(100% - 2px);
    height: 38px;
    border: 1px #CACACA solid;
    border-radius: 20px;
    overflow: hidden;
}
.input_box input{
    width: calc(100% - 32px);
    height: 100%;
    padding: 0 16px;
    font-size: 13px;
    font-weight: 400;
    color: #101010;
}
input:-ms-input-placeholder{
    color: #999;
    font-size: 13px;
    font-weight: 400;
}
input::-webkit-input-placeholder{
    color: #999;
    font-size: 13px;
    font-weight: 400;
}
input[readonly]{
    cursor: default;
}

/*경고 팝업*/
.alert_popup_section{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
}
.alert_popup_whole{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}
.alert_popup_box{
    position: absolute;
    width: calc(90% - 40px);
    max-width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alert_img_box{
    position: relative;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin: 0 auto 10px auto;
}
.alert_img_box img{
    position: absolute;
    width: 100%;
    height: auto;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.alert_txt{
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    color: #101010;
    text-align: center;
}
p.second_txt_p{
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    color: #999;
    text-align: center;
    margin: 5px 0 0 0;
}
p.second_txt_p span.second_txt{
    color: #0C2149;
}

img.img_size_change.img_others{
    width: auto;
    height: 100%;
    background-size: contain;
}

/*컨펌 팝업*/
.confirm_popup_section{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}
.confirm_popup_whole{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}
.confirm_popup_box{
    position: absolute;
    width: calc(90% - 40px);
    max-width: 360px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.confirm_txt{
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    color: #101010;
    text-align: center;
    margin: 0 auto 10px auto;
}
.confirm_popup_box .display_flex .confirm_no_btn{
    width: 100px;
    height: 32px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    border: 1px #bb0000 solid;
    color: #bb0000;
    background-color: transparent;
    margin-right: 20px;
}
.confirm_popup_box .display_flex .confirm_ok_btn{
    width: 100px;
    height: 32px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #0C2149;
}

/*데이터가 없을 때*/
.no_data_box{
    width: 200px;
    height: auto;
    margin: 0 auto;
}
.no_data_box img{
    display: block;
    width: 95px;
    height: auto;
    background-size: contain;
    margin: 0 auto 30px auto;
}
.no_data_box p{
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    text-align: center;
    color: #101010;
}

/*슬라이드 아이콘 리셋*/
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
    content: unset;
}


/*nav*/
.nav_tab_top{
    position: fixed;
    width: 100%;
    height: 39px;
    background-color: #fff;
    top: 48px;
    left: 0;
    border-bottom: 1px #CACACA solid;
    z-index: 10;
    padding: 0;
    overflow: hidden;
}
.nav_tab_top .display_flex{
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
}
.nav_tab_top .display_flex::-webkit-scrollbar{
    display: none;
}
.nav_tab_flex a{
    margin: 12px 0 0 0;
}
.nav_tab_flex a p{
    width: max-content;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    padding: 0 14px 9px 14px;
    color: #999999;
    margin-right: 10px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}
.nav_tab_flex a:last-child p{
    margin-right: 0;
}
/*
.nav_tab_flex a:first-child p{
    margin-left: 0;
}
.nav_tab_flex a:last-child p{
    margin-right: 0;
}
*/
.nav_tab_flex a p.nav_tab_on{
    border-bottom: 2px #0C2149 solid;
    color: #0C2149;
    font-weight: bold;
    cursor: default;
}