@charset "UTF-8";
#wrap {
  background-color: #fff;
  color: #111;
}

h2.h2_tit {
  font-size: 48px;
  font-weight: 600;
}

h3.h3_tit {
  font-size: 32px;
  font-weight: 600;
}

.portfolio__page>section {
  min-height: 100dvh;
}

.portfolio__page>section .sec__inner {
  max-width: 1620px;
  margin: 0 auto;
  width: 100%;
  min-height: 100dvh;
  position: relative;
}

.project__title {
  width: 100%;
  height: 100dvh;
  background: radial-gradient(circle at 20% 30%,
      rgba(255, 105, 180, 0.4) 0%,
      rgba(255, 105, 180, 0.1) 30%,
      transparent 60%),
    radial-gradient(circle at 80% 70%,
      rgba(155, 80, 255, 0.4) 0%,
      rgba(155, 80, 255, 0.1) 20%,
      transparent 60%),
    #fff;
  background-size: 200% 200%;
  animation: gradientPulse 15s ease-in-out infinite;
}

@keyframes gradientPulse {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.project__title .sec__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.project__title .sec__inner .title h1.pj_title {
  font-size: 80px;
  font-weight: 800;
  color: #111;
  text-align: center;
}

.project__title .scroll_down {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
}

.project__title .scroll_down span {
  color: #111;
  font-family: "Outfit", serif;
  font-size: 24px;
  animation: blink 1.4s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }
}

.project__header {
  position: relative;
  padding-top: 80px;
  margin-bottom: 32px;
}

.project__header span.no {
  font-size: 100px;
  color: #0000005d;
  font-weight: 800;
  position: absolute;
  top: 12px;
  left: -50px;
}

.project__info .sec__inner {
  display: flex;
  align-items: center;
  gap: 80px;
}

.project_thumbnail {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.project_thumbnail .hover_me {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: -140px;
  left: 200px;
}

.project_thumbnail .hover_me img {
  transform: rotate(-36deg);
}

.project_thumbnail .hover_me span {
  font-size: 24px;
  transform: translateX(-63px);
  animation: blink 1.2s ease-in-out infinite;
}

.project_thumbnail img {
  object-fit: contain;
}

.project_thumbnail .thumbnail_main {
  position: relative;
  z-index: 2; 
}

.project_thumbnail .device {
  position: relative;
  overflow: hidden;
  height: 603px;
  z-index: 3;
}

.project_thumbnail .device .device_content {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 24px);
  height: calc(100% - 30px);
  border-radius: 32px;
  overflow: hidden;
  z-index: 2;
}

.project_thumbnail .device .device_content img {
  width: 100%;
  height: auto;
}

.project_thumbnail .device .device_content img {
  width: 100%;
  object-fit: contain;
  transition: transform 2s linear;
}

.project_thumbnail .thumbnail_main:hover .device_content img {
  transform: translateY(calc(-100% + 603px));
}

.project_thumbnail .thumb1 {
  transform: translateX(80px);
  position: relative;
  z-index: 1;
}

.project_thumbnail .thumb3 {
  transform: translateX(-80px);
  position: relative;
  z-index: 1;
}

.project__info .project-info li {
  display: flex;
  align-items: baseline;
  gap: 24px;
  padding: 24px 0;
  border-bottom: 1px solid #c9c9c9;
  color: #111;
}

.project__info .project-info li:last-child {
  border-bottom: none;
}

.project__info .project-info li span {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  width: 180px;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.project__info .project-info li p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}