@charset "UTF-8";
#wrap {
  background-color: #fff;
  color: #111;
}

h2.h2_tit {
  font-size: 48px;
  font-weight: 600;
}

h3.h3_tit {
  font-size: 32px;
  font-weight: 600;
}

h4.h4_tit {
  font-size: 24px;
  font-weight: 600;
}

h5.h5_tit {
  font-size: 18px;
  font-weight: 600;
}

.portfolio__page>section {
  min-height: 100dvh;
  padding: 80px 0;
}

.portfolio__page>section:nth-of-type(2n) {
  background-color: #f4f6fa;
}

.portfolio__page>section .sec__inner {
  max-width: 1580px;
  margin: 0 auto;
  width: 100%;
  min-height: 100dvh;
  position: relative;
  padding: 0 20px;
}

.project__title .sec__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.project__title .sec__inner .title h1.pj_title {
  font-size: 80px;
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.project__title .scroll_down {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
}

.project__title .scroll_down span {
  color: #fff;
  font-family: "Outfit", serif;
  font-size: 24px;
  animation: blink 1.4s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }
}

.project__header {
  position: relative;
  padding-top: 80px;
  padding-left: 64px;
  margin-bottom: 32px;
}

.project__header span.no {
  font-size: 100px;
  color: #0000005d;
  font-weight: 800;
  position: absolute;
  top: 12px;
  left: -12px;
}

.project__info .sec__inner {
  display: flex;
  align-items: center;
  gap: 80px;
}

.project_thumbnail {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.project_thumbnail .hover_me {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: -140px;
  left: 200px;
}

.project_thumbnail .hover_me img {
  transform: rotate(-36deg);
}

.project_thumbnail .hover_me span {
  font-size: 24px;
  transform: translateX(-63px);
  animation: blink 1.2s ease-in-out infinite;
}

.project_thumbnail img {
  object-fit: contain;
}

.thumbnail_main {
  position: relative;
  z-index: 2; 
}

.thumbnail_main .device {
  width: 300px;
  position: relative;
  overflow: hidden;
  height: 603px;
  z-index: 3;
}

.thumbnail_main .device .device_content {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 24px);
  height: calc(100% - 30px);
  border-radius: 32px;
  overflow: hidden;
  z-index: 2;
}

.thumbnail_main .device .device_content img {
  width: 100%;
  height: auto;
}

.thumbnail_main .device .device_content img {
  width: 100%;
  object-fit: contain;
  transition: transform 1.2s linear;
}

.thumbnail_main:not(.not_hover):hover .device_content img {
  transform: translateY(calc(-100% + 603px));
}

.project_thumbnail .thumb1 {
  transform: translateX(80px);
  position: relative;
  z-index: 1;
}

.project_thumbnail .thumb3 {
  transform: translateX(-80px);
  position: relative;
  z-index: 1;
}

.project__info .project-info li {
  display: flex;
  align-items: baseline;
  gap: 24px;
  padding: 24px 0;
  border-bottom: 1px solid #c9c9c9;
  color: #111;
}

.project__info .project-info li:last-child {
  border-bottom: none;
}

.project__info .project-info li span {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  width: 180px;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.project__info .project-info li p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

/* 퍼블리싱 가이드 */
.color_system {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 40px;
}

.color_system li {
  padding: 16px;
  border: 1px solid #E5E5EC;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.color_system .color span {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.color_system .color_text  {
  text-align: center;
}

.color_system .color_text b {
  display: block;
  text-align: center;
}

.color_system.ey_theme li .color {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.font_system {
  display: flex;
  gap: 120px;
  margin-top: 40px;
}

.font_system ul.fonts li {
  display: block;
  margin-bottom: 24px;
}

.font_system .font_family {
  background-color: #EEF1F7;
  align-self: flex-start;
  padding: 8px 16px;
  border-radius: 8px;
}

.title_with_modal {
  display: flex;
  align-items: center;
  gap: 12px ;
}

.title_with_modal h3.h3_tit {
  cursor: pointer;
}

.title_with_modal span {
  font-size: 18px;
  color: #505050;
}

.publishing_css {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
}

.tailwind_info {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.tailwind_logo {
  height: 50px;
}

.tailwind_logo img {
  height: 100%;
}

.tailwind_info .version {
  display: inline-block;
  width: auto;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #00889F;
  color: #fff;
  text-align: center;
}

.tailwindcss_list li {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.component_text p {
  font-size: 18px;
  line-height: 1.6;
}

.components_example {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
  margin-top: 40px;
}

.components_example .example {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: calc(50% - 12px);
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #E5E5EC;
  transition: 0.35s;
  background-color: #fff;
}

.components_example .example:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.components_example .example .img {
  max-width: 450px;
}

.components_example .example .img img {
  width: 100%;
  object-fit: contain;
}

.components_example .example .text p {
  line-height: 1.6;
  margin-top: 8px;
}

section.project__develop.p80 {
  padding: 80px 0;
}
section.project__develop {
  min-height: auto !important;
  padding: 150px 0;
}

section.project__develop .sec__inner {
  min-height: auto !important;
}

.develop_stack .stack {
  margin: 40px 0;
}
.develop-stack__list {
  display: flex;
  gap: 40px;
  margin-top: 24px;
}
.develop-stack__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.develop-stack__list li img {
  width: 64px;
  height: 64px;
}
.develop-stack__list li span {
  font-size: 18px;
  font-weight: 600;
}
.develop_flex_box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 40px;
}
.develop_flex_box.column {
  flex-direction: column;
  align-items: flex-start;
}
.develop_description>div {
  margin-bottom: 32px;
}
.develop_description>div ul {
  margin-top: 12px;
}
.develop_description>div ul li {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 4px;
  position: relative;
  padding-left: 14px;
}
.develop_description>div ul li:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #111;
  position: absolute;
  left: 0;
  top: 10px;
}
.modal_recommend_pc {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal_recommend_pc .modal__close {
  position: absolute;
  right: 24px;
  top: 24px;
  display: inline-block;
  width: 48px;
  height: 48px;
}
.modal_recommend_pc .modal__close button {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../ey/img/icon_close_modal.svg) no-repeat center / contain;
}
.modal_recommend_pc .modal__inner p {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}